<div id="homescreen">
    <div class="container">
        <div class="homescreen-main-block">
            <div class="homescreen-option-block">
                <a href="/questionnaire/setup/step1">Setup Questionnaire</a>
            </div>
            <div class="homescreen-option-block">
                <a href="/view-questionnaire">View Questionnaires</a>
            </div>
            <div class="homescreen-option-block">
                <a href="/answer-questionnaire">Answer Questionnaires</a>
            </div>
            <div class="homescreen-option-block">
                <h4>Notification block</h4>
            </div>
            <div class="homescreen-option-block">

            </div>
            <div class="homescreen-option-block">
                <a href="">Manage Organization User Permissions</a>
            </div>
            <div class="homescreen-option-block">
                <a href="">Manage my Profile</a>
            </div>
        </div>
    </div>
</div>
