{{#donor}}
<ul class="nav nav-pills col-md-8">
  <li>
    <a href="/questionnaire/setup/step1">Setup Questionnaire</a>
  </li>
  <li class="active">
    <a href="/view-questionnaires">Questionnaire Results</a>
  </li>
</ul>
{{/donor}}

{{#facilitator}}
<ul class="nav nav-pills col-md-8">
  <li class="active">
    <a href="/view-questionnaire">View Questionnaires</a>
  </li>
  <li>
    <a href="/view-questionnaires">Questionnaire Results</a>
  </li>
</ul>
{{/facilitator}}

{{#startup}}
<ul class="nav nav-pills col-md-8">
  <li class="active">
    <a href="/answer-questionnaire">Answer Questionnaires</a>
  </li>
</ul>
{{/startup}}
