<div>
    <h2>Login:</h2>
    <form method="get" action="">
        <label>E-mail</label><input type="text" />
        <label>Password</label><input type="text" />

        <input type="submit" />
    </form>
</div>