{{#facilitator}}
<h2>View </h2>

<table class="table">
  <thead class="thead-inverse">
<tr>
    <th>Questionnaire name:</th>
    <th>Due Date:</th>
</tr>
 </thead>
{{#each facilitatorQuestionnaire}}
    <tr>
    <td><a href="/questionnaire/{{id}}/questions/{{base_questionnaire_id}}/results">{{name}}</a></td>
    <td>{{dueDate}}</td>
    </tr>
{{/each}}
</table>
{{/facilitator}}

<button class="btn btn-success" onclick="goBack()">back</button>

<script>
  function goBack() {
    window.history.back();
  }
</script>
