<form class="col-md-8" action="/questionnaire/setup/step1" method="POST">
  <h2>Setup Questionnaire</h2>
  <div class="form-group">
    <label>Questionnaire Name:</label><input type="text" class="form-control" name="name" required/>
    <label>Due date:</label><input type="date" class="form-control" name="dueDate" required/>
  </div>
  <button class="btn btn-success" onclick="goBack()">back</button>
  <input type="submit" class="btn btn-primary pull-right">
</form>
