<div id="setupQuestionStep2">
    <div class="container">
        <form action="/setup-questionnaire-step-2/add" method="POST">
                   <h1>Setup Questionnaire - Step 2</h1>
                   <h3>Add Questions:</h3>
                   <textarea name="question_description" row="3" cols="50" placeholder="Enter question here" required></textarea>
                   {{#each questionnaire}}
                   <input type="hidden" name="questionnaire_id" value="{{questionnaire_id}}">
                   {{/each}}
                   <input type="submit">
        </form>

        <h3>Questions Added:</h3>
        <table>
        {{#each questions}}
            <tr>
                <td>{{question_description}}</td>
                    <td><a href="/setup-questions/edit/{{question_id}}">edit</a></td>
                    <td><a href="/setup-questions/delete/{{question_id}}">delete</a></td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>