
<form action="setup-questionnaire/add" method="POST">
           <h1>Add a product</h1>
           q:<input type="text" name="question_description" required>
           <input type="submit">
       </form>
<div class="container">
    <h1>Setup Questionnaire</h1>

    {{#each questions}}
    <p>
      {{question_description}}
    </p>
    {{/each}}
</div>
