    <form class="col-md-8" action="/questionnaire/setup/step1" method="POST">
        <h2>Setup Questionnaire</h2>
        <div class="form-group">
        <label>Questionnaire Name:</label><input type="text" class="form-control" placeholder="ex. mLab" name="name" />
        <label>Due date:</label><input type="date" class="form-control" name="dueDate" />
      </div>
        <input type="submit" class="btn btn-success">
    </form>
    <button class="btn btn-success" onclick="goBack()">back</button>
    <script>
      function goBack(){
          window.history.back();
      }
    </script>
