<div>
    <h1>Registration</h1>
    <form method="post" action="">
        <label>Singup as: </label>
        <select>
            <option selected>Donor</option>
            <option>Hub</option>
        </select>
        <div>
            <h2>Organization:</h2>
            <label>Organization name: </label><input type="text" />
            <label>Organization address:</label><input type="text" />
        </div>

        <input type="submit" />
    </form>
</div>