<!--div>
    <h1>Registration</h1>
    <form class="form-inline" method="post" action="/signup/add">
        <h2>Organization details:</h2>
          <div class="form-group">
        <label>Company Name:</label><input type="text" class="form-control" name="name" required/>
        <label>Address:</label><input type="text" class="form-control" name="address" required/>
        <label>Logo:</label><input type="text" class="form-control" name="logo" required/>

        <h2>User details:</h2>
        <label>First Name:</label><input type="text" class="form-control" name="firstName" required/>
        <label>Last Name:</label><input type="text" class="form-control" name="lastName" required/>
        <label>E-mail:</label><input type="email" class="form-control" name="email" required/><br>
<input class="btn btn-primary" type="submit" />
</div>


    </form>
</div-->

<!DOCTYPE html>
<html lang="en">
<head>

  <title>PLEASE REGISTER OR SIGNUP HERE!</title>

<style>
.fl {
  float: left;
}

.fr {
  float: right;
}

.fc:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

body {
  background: #ebeae2;
  font-family: Arial, Helvetica, sans-serif;
}

.form-wrapper {
  width: 600px;
  margin: 20px auto;
}

.form-wrapper .form-header {
  background: #333345;
  border-radius: 8px 8px 0px 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 17px;
}


.form-wrapper .form-container {
  background: #fefefe;
  padding: 25px 30px 12px 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 20px 5px;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}
.tab-content > div:last-child {
  display: none;
}
.input-group{
  height:45px;
  margin:20px 0 20px 0;
}

.form-footer {
  background: #f4f4f4;
  border-radius: 0px 0px 8px 8px;
  border-top: 1px dotted #e2e0de;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 15px 0px;
  width:100%;
}

.form-footer button {
  display: block;
  background: #1ab188;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right:20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.form-footer button:hover{
  background: #179b77;
  color: #ffffff;
  text-decoration:none;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  80% {
    -moz-transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  80% {
    -o-transform: translateY(-10px);
  }
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
  list-style: none
}

</style>

</head>


<body>

<div class="form-wrapper animated bounceInDown">
  <div class="form-header fc">
      <ul class="tab-group">
        <li class="tab active"><a href="/login">Log In</a></li>
        <li class="tab"><a href="/signup">Sign Up</a></li>
      </ul>
  </div>
  <div class="tab-content fc">
  <div id="signup">
 <form method="post" action="/signup/add">
  <div class="form-container">
    <h1>Register your organization</h1>
    <h2>Organization details:</h2>
    <div class="input-group input-group-lg">
      <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon3">Company Name</span>
      <input type="text" name="name" class="form-control" placeholder="orgization name" aria-describedby="sizing-addon3" required>
    </div>

    <div class="input-group input-group-lg">
      <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon4">Address</span>
      <input type="text" name="address" class="form-control" placeholder="orgization address" aria-describedby="sizing-addon1" required>
    </div>

    <div class="input-group input-group-lg">
      <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon5">Logo</span>
      <input type="text" name="logo" class="form-control" placeholder="orgization logo" aria-describedby="sizing-addon1" required>
    </div>

    <h2>User details:</h2>
    <div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon6">First Name</span>
    <input type="text" name="firstName" class="form-control" placeholder="first name" aria-describedby="sizing-addon1" required>
    </div>

    <div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon7">Last Name</span>
    <input type="text" name="lastName" class="form-control" placeholder="last name" aria-describedby="sizing-addon1" required>
    </div>

    <div class="input-group input-group-lg">
    <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon8">E-mail</span>
    <input type="text" name="email" class="form-control" placeholder="email" aria-describedby="sizing-addon1" required>
    </div>
 </div>
  <div class="form-footer fc">
    <div class="fl">
    </div>
    <button type="submit" class="fr btn" value="/signup">Sign Up</button>
  </div>
  </form>
  </div>

</body>

<script>
$('.tab a').on('click', function(e) {

        e.preventDefault();

$(this).parent().addClass('active');
        $(this).parent().siblings().removeClass('active');

        target = $(this).attr('href');

        $('.tab-content > div').not(target).hide();

        $(target).fadeIn(600);

      });
</script>

</html>
