<div>
    <h1>Registration</h1>
    <form method="post" action="/signup/add">
        <h2>Organization details:</h2>
        <label>Company Name:</label><input type="text" name="name" required/>
        <label>Address:</label><input type="text" name="address" required/>
        <label>Logo:</label><input type="text" name="logo" required/>

        <h2>User details:</h2>
        <label>First Name:</label><input type="text" name="firstName" required/>
        <label>Last Name:</label><input type="text" name="lastName" required/>
        <label>E-mail:</label><input type="email" name="email" required/>

        <input type="submit" />
    </form>
</div>
