<div>
    <h2>Thank you, your account has been verified!</h2>

    <h3>Please set your account password to log into your dashboard and get the data flowing</h3>

    <form method="get" action="">
        <label>Set Password: </label><input type="text" />
        <label>Re-type Password</label><input type="text" />

        <input type="submit" />
    </form>
</div>